{{!--
This subscribe template is used to display the form where users can subscribe.
You need to enable the members feature first.
--}}

<div class="l-subscribe-section__form">
    <form id="contactForm" class="contact-form"
          method="post">
        <label for="full-name">Name</label>
        <input type="text" name="from_name" id="full-name" placeholder="How can I address you?" required>
        <label for="email-address">Email Address</label>
        <input type="email" name="from_email" id="email-address" placeholder="Your email address" required>
        <label for="message">Message</label>
        <textarea rows="5" name="message" id="message" placeholder="Your message" required></textarea>
        <button class="m-button primary block" type="submit" onclick="sendMessage(event);">{{t "Send"}}</button>
    </form>
</div>
<script>
    function sendMessage(e) {
        e.preventDefault();
        emailjs.sendForm('abstract_entropy', 'abstract_entropy', '#contactForm')
                .then(function(response) {
                    document.getElementById("success").style.display = 'block';
                    document.getElementById("contactFormDiv").style.display = 'none';
                }, function(error) {
                    alert("Sorry, failed to send Message. Please try again later.")
                });
    }
</script>
<style>
    .contact-form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 0.2em 1em;
    }
    .contact-form input,
    .contact-form textarea {
        width: 100%;
        padding: 0.4em 0.6em 0.5em;
        color: #111;
        font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
        font-size: 0.95em;
    }
    .contact-form input:focus,
    .contact-form textarea:focus {
        outline: 1px solid #3eb0ef;
        outline-offset: -1px;
    }
    .contact-form label[for="full-name"],
    .contact-form label[for="email-address"] {
        order: -1;
    }
    .contact-form input {
        order: 0;
        margin-bottom: 0.6em;
    }
    .contact-form label[for="message"],
    .contact-form textarea {
        grid-column-end: span 2;
    }
    .contact-form button[type="submit"] {
        grid-column-start: 2;
        justify-self: end;
        margin-top: 0.6em;
        background: #3eb0ef;
        color: white;
        width: auto;
    }
</style>
